@model string; 



<div class="jumbotron jumbotron-fluid text-white text-center" style="background-color: indianred; margin-top: 200px;">
    <div class="container">
        <h1 class="display-4">Error!</h1>
        <p class="lead" style="font-size: 24px; font-weight: 200;">@Model</p>
        <a class="btn btn-outline-light" href="javascript:void(0);" onclick="history.go(-1)" ;>Go Back</a>
    </div>
</div>